html, body {
  min-height: 100% !important;
  height: 100%;
  position: relative;
}

.bg-orange {
  background-color: #FF9000;
}

.bg-devGreen {
	background-color: #2B3137;
}

.login-view {
  width: 100%;
  height: 100%;
  position: relative;
}

.login-block {
	background-color: #EEEEEE;
    width: 50%;
    height: 60%;
    margin-left: 30%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 7%;
    position: absolute;
    top: 65px;
    border-radius: 4px;
}

.login-block label {
  padding-top: 5%;
}

.login-block .btn-primary {
  float: right;
  margin-top: 15px;
}

header {
  height: 15%;
  background-color: #ccc;
  position: absolute;
  width: 100%;
}

.view-area {
  height: 85%;
  padding-top: 80%;
  width: 100%;
}

.logo-space img {
  width: 150px;
  height: 50px;
}

.user-actions {
  list-style: none;
}

.user-actions li {
  display: inline;
}

.cart img {
  height: 50px;
  width: 50px;
}
