<div ng-include="'partials/header.html'"></div>
<div class="view-area">
  <div class="row display">
    <div class="col-md-4">
      <img src="images/shopping_cart.png" alt="">
      <h4>Product Name</h4>
      <h5>Price</h5>
      <span class="pull-right">Add to cart</span>
    </div>
    <div class="col-md-4">
      <img src="images/shopping_cart.png" alt="">
      <h4>Product Name</h4>
      <h5>Price</h5>
      <span class="pull-right">Add to cart</span>
    </div>
    <div class="col-md-4">
      <img src="images/shopping_cart.png" alt="">
      <h4>Product Name</h4>
      <h5>Price</h5>
      <span class="pull-right">Add to cart</span>
    </div>
  </div>
</div>
